body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "BlueSkyStandard", "Microsoft Yahei", Palatino, Arial, sans-serif;
  font-size: 16px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.header {
  padding: 15px 40px;
  font-size: 12px;
  font-weight: 700;
  position: relative;
}
.header li {
  cursor: pointer;
}
.header .header-logo {
  position: absolute;
  left: 40px;
  top: 20px;
  cursor: pointer;
}
.header .header-order {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 126px;
  height: 36px;
  padding: 0 10px;
  margin: 0 14px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  color: #000;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 100px;
}
.header .header-order:hover {
  background-color: #000;
}
.header .header-order:hover a {
  color: #fff;
}
.header .header-nav {
  padding-left: 162px;
}
.header .header-nav-level0 {
  display: flex;
  align-items: center;
}
.header .header-nav-level0 li {
  position: relative;
}
.header .header-nav-level0 li a:hover:after {
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: forwards;
}
.header .header-nav-level0 li a:after {
  content: '';
  width: 60%;
  margin: 0 auto;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%);
  box-sizing: border-box;
}
.header .header-nav-level0 .header-nav-level0-li {
  padding: 10px 20px 10px 20px;
  margin-top: 5px;
}
.header .header-nav-level0 .arrow {
  position: relative;
  padding-left: 45px;
  cursor: default;
  z-index: 10;
}
.header .header-nav-level0 .arrow ul {
  background-color: #fff;
  position: absolute;
  left: -1000px;
  width: 100%;
  z-index: 20;
  padding-top: 18px;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-radius: 0 0 12px 12px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.header .header-nav-level0 .arrow ul li {
  margin-bottom: 12px;
  padding: 0 20px;
}
.header .header-nav-level0 .arrow:hover {
  border-radius: 12px 12px 0 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.header .header-nav-level0 .arrow:hover:before {
  transform: rotate(135deg);
}
.header .header-nav-level0 .arrow .car-limit,
.header .header-nav-level0 .arrow .car-border {
  color: #9b9b9b;
  cursor: text;
}
.header .header-nav-level0 .arrow:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 13px;
  width: 5px;
  height: 5px;
  border: 2px solid rgba(50,50,50,0.7);
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}
.header .header-nav-level0 #car {
  width: 25px;
}
.header .header-nav-level0 #car:hover .car {
  position: absolute;
  left: 0px;
  top: 36px;
}
.header .header-nav-level0 #service {
  width: 50px;
}
.header .header-nav-level0 #service:hover .service {
  position: absolute;
  left: 0px;
  top: 36px;
}
.header .header-nav-level0 #nio {
  width: 45px;
}
.header .header-nav-level0 #nio:hover .nio {
  position: absolute;
  left: 0px;
  top: 36px;
}
@media screen and (max-width: 1024px) {
  .header {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    box-sizing: border-box;
    padding: 8px 15px;
    z-index: 20;
    position: fixed;
    top: 0;
  }
  .header-logo,
  .header-nav,
  .header-order {
    display: none;
  }
  .header-logoMini {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logoMini .header-logoMini-nav {
    display: flex;
  }
  .header-logoMini .header-logoMini-nav a {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 5px 18px 3px;
    margin: 0 5px;
    margin-right: 15px;
    border-radius: 15px;
  }
  .header-logoMini .header-logoMini-nav .btn div {
    height: 2px;
    width: 20px;
    background-color: #fff;
    margin: 6px 0;
  }
}
@media screen and (min-width: 1023px) {
  .header-logoMini {
    display: none;
  }
}
.es6,
.es8 {
  position: relative;
}
.jumbotron {
  font-size: 0;
  padding-bottom: 20px;
  position: relative;
}
.jumbotron img {
  width: 100%;
}
.jumbotron-block-img {
  text-align: center;
}
.jumbotron-block-img img {
  width: 288px;
}
.jumbotron-block {
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
}
.jumbotron-block p {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 27px;
  text-align: center;
}
.jumbotron-block-a {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.jumbotron-block-a a {
  color: #fff;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  width: 210px;
  height: 46px;
  line-height: 46px;
  padding: 0 10px;
  border: 2px solid #fff;
  border-radius: 100px;
}
.jumbotron-block-a a:hover {
  background-color: #fff;
  color: #000;
}
@media screen and (max-width: 768px) {
  .jumbotron-block {
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%);
  }
}
@media screen and (min-width: 769px) {
  .picture {
    padding-left: 20px;
    overflow: hidden;
  }
  .picture .picture-item {
    float: left;
    padding-bottom: 15px;
    width: 50%;
    position: relative;
  }
  .picture .picture-item .picture-block {
    position: absolute;
    left: 50%;
    top: 60px;
    text-align: center;
    transform: translate(-50%);
  }
  .picture .picture-item .picture-block p,
  .picture .picture-item .picture-block a {
    color: #fff;
    text-align: center;
    font-size: 22px;
  }
  .picture .picture-item .picture-block a {
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 100px;
    width: 210px;
    height: 46px;
    line-height: 46px;
    font-weight: 700;
  }
  .picture .picture-item .picture-block a:hover {
    background-color: #fff;
    color: #000;
  }
  .picture .picture-item .picture-block img {
    width: 188px;
  }
  .picture img {
    width: calc(100% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .picture {
    padding-left: 0px;
    overflow: hidden;
  }
  .picture .picture-item {
    width: 100%;
    padding-bottom: 5px;
    position: relative;
  }
  .picture .picture-item .picture-block {
    position: absolute;
    left: 50%;
    top: 60px;
    text-align: center;
    transform: translate(-50%);
  }
  .picture .picture-item .picture-block p,
  .picture .picture-item .picture-block a {
    color: #fff;
    text-align: center;
    font-size: 22px;
  }
  .picture .picture-item .picture-block a {
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 100px;
    width: 210px;
    height: 46px;
    line-height: 46px;
    font-weight: 700;
  }
  .picture .picture-item .picture-block a:hover {
    background-color: #fff;
    color: #000;
  }
  .picture .picture-item .picture-block img {
    width: 188px;
  }
  .picture img {
    width: 100%;
  }
}
.carousel {
  position: relative;
  overflow: hidden;
}
.carousel .carousel-pictures {
  width: 400%;
  min-height: 0;
  overflow: hidden;
}
.carousel .carousel-pictures li {
  width: 25%;
  font-size: 0;
  float: left;
}
.carousel .carousel-pictures li img {
  width: 100%;
}
.carousel .dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -35px;
}
.carousel .dots ul {
  width: 70px;
  display: flex;
  justify-content: space-around;
}
.carousel .dots ul li {
  width: 10px;
  height: 10px;
  background-color: #00263c;
  border-radius: 50%;
}
@media screen and (min-width: 981px) {
  .nio-app {
    position: absolute;
    left: 40%;
    top: 20%;
  }
  .nio-app img {
    width: 228px;
  }
  .nio-app .surpise {
    margin: 25px 0;
    font-size: 22px;
  }
  .nio-app p,
  .nio-app a {
    color: #fff;
  }
  .nio-app p {
    margin: 0 0 20px;
  }
  .nio-app a {
    padding: 0 10px;
    border: 2px solid #fff;
    border-radius: 100px;
    height: 46px;
    line-height: 46px;
    width: 186px;
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 980px) {
  .nio-app {
    position: absolute;
    left: 40%;
    top: 5%;
    text-align: center;
  }
  .nio-app img {
    width: 180px;
  }
  .nio-app .surpise {
    margin: 10px 0;
    font-size: 16px;
  }
  .nio-app p,
  .nio-app a {
    color: #fff;
    font-size: 14px;
  }
  .nio-app p {
    margin: 0 0 10px;
  }
  .nio-app a {
    padding: 0 10px;
    border: 2px solid #fff;
    border-radius: 100px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    margin: 0 auto;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .app {
    text-align: center;
  }
  .app p {
    font-size: 36px;
    font-weight: 300;
    margin-top: 80px;
  }
  .app .app-download {
    margin-top: 80px;
  }
  .app .app-download .app-download-code {
    width: 117px;
    margin-right: 22px;
  }
  .app .app-download .app-download-ios {
    width: 160px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .app {
    text-align: center;
  }
  .app p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 80px;
  }
  .app .app-download {
    margin-top: 80px;
  }
  .app .app-download a {
    display: block;
  }
  .app .app-download a .app-download-code {
    width: 117px;
    margin-right: 22px;
    margin: 0 auto;
  }
  .app .app-download a .app-download-ios {
    width: 160px;
    margin: 35px 0 30px 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer-companyInfo {
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
  }
  .footer .footer-companyInfo .footer-company-address {
    float: left;
  }
  .footer .footer-companyInfo .footer-company-address strong,
  .footer .footer-companyInfo .footer-company-address span,
  .footer .footer-companyInfo .footer-company-address a {
    margin-right: 10px;
    font-size: 14px;
  }
  .footer .footer-companyInfo .footer-company-address a {
    letter-spacing: 2px;
  }
  .footer .footer-companyInfo .footer-company-address a:hover {
    text-decoration: underline;
  }
  .footer .footer-companyInfo .footer-compony-tel {
    float: right;
  }
  .footer .footer-companyInfo .footer-compony-tel span {
    font-size: 25px;
    margin-right: 5px;
    color: #000;
  }
  .footer .footer-companyInfo .footer-compony-tel .icon-icons-china {
    color: #f1361d;
    width: 75px;
  }
  .footer .footer-companyInfo .footer-compony-tel .china {
    border-left: 1px solid #e3e3e3;
    margin-left: 10px;
  }
  .footer .footer-companyInfo .footer-compony-tel .china:before {
    content: 'CN';
    font-size: 14px;
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin-bottom: 9px;
    margin-left: 15px;
  }
  .footer .footer-bottom {
    text-align: center;
    padding: 20px 0;
    a: , span;
  }
  .footer a,
  .footer span {
    a: , span;
  }
  .footer a a,
  .footer span a,
  .footer a span,
  .footer span span {
    font-size: 14px;
    color: #d0d0d0;
  }
  .footer a img,
  .footer span img {
    vertical-align: middle;
    margin: 0 5px 0 20px;
  }
}
@media screen and (max-width: 1023px) {
  .footer .footer-companyInfo {
    padding: 45px 40px 30px;
    overflow: hidden;
    margin-top: 75px;
    border-top: 1px solid #dcdcdc;
  }
  .footer .footer-companyInfo .footer-company-address {
    text-align: center;
  }
  .footer .footer-companyInfo .footer-company-address strong,
  .footer .footer-companyInfo .footer-company-address span,
  .footer .footer-companyInfo .footer-company-address a {
    display: block;
    margin: 0 10px 5px 0;
    font-size: 14px;
    font-weight: 700;
  }
  .footer .footer-companyInfo .footer-company-address a {
    letter-spacing: 2px;
  }
  .footer .footer-companyInfo .footer-company-address a:hover {
    text-decoration: underline;
  }
  .footer .footer-companyInfo .footer-compony-tel {
    text-align: center;
    margin-top: 40px;
  }
  .footer .footer-companyInfo .footer-compony-tel span {
    font-size: 25px;
    margin-right: 5px;
  }
  .footer .footer-companyInfo .footer-compony-tel .icon-icons-china {
    color: #f1361d;
    width: 75px;
  }
  .footer .footer-companyInfo .footer-compony-tel .china {
    margin: 40px auto 10px;
    display: block;
    width: 75px;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
  }
  .footer .footer-companyInfo .footer-compony-tel .china:before {
    content: 'CN';
    font-size: 14px;
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin-bottom: 9px;
    margin-left: 5px;
  }
  .footer .footer-bottom {
    text-align: center;
    padding: 20px 0;
  }
  .footer .footer-bottom a {
    font-size: 14px;
    color: #d0d0d0;
  }
  .footer .footer-bottom a:before {
    content: '© NIO 2019';
    color: #000;
    font-weight: 700;
    padding-right: 15px;
  }
  .footer .footer-bottom img,
  .footer .footer-bottom span {
    display: none;
  }
}
@-moz-keyframes fadeIn {
  form {
    background-color: #fff;
    bottom: -15px;
  }
  to {
    background-color: #13d4c8;
    bottom: 0px;
  }
}
@-webkit-keyframes fadeIn {
  form {
    background-color: #fff;
    bottom: -15px;
  }
  to {
    background-color: #13d4c8;
    bottom: 0px;
  }
}
@-o-keyframes fadeIn {
  form {
    background-color: #fff;
    bottom: -15px;
  }
  to {
    background-color: #13d4c8;
    bottom: 0px;
  }
}
@keyframes fadeIn {
  form {
    background-color: #fff;
    bottom: -15px;
  }
  to {
    background-color: #13d4c8;
    bottom: 0px;
  }
}
